blinker==1.4
certifi==2019.6.16
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.6
Flask-JWT-Extended==3.10.0
flask-marshmallow==0.9.0
Flask-SQLAlchemy==2.3.2
flask-swagger==0.2.13
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
marshmallow==2.15.3
marshmallow-sqlalchemy==0.14.0
mysql-connector-python==8.0.11
protobuf==3.9.0
PyJWT==1.6.4
PyYAML==5.4
six==1.12.0
SQLAlchemy==1.3.6
tabulate==0.8.3
urllib3==1.25.3
Werkzeug==0.15.5
celery
flask_mail